<div class="flex flex-col flex-auto overflow-y-auto lg:overflow-hidden bg-card dark:bg-default w-full h-full">

    <!-- Select mail to read -->
    <div class="flex flex-col flex-auto items-center justify-center bg-gray-100 dark:bg-transparent">
        <div class="cursor-pointer text-center" (click)="onCreateDashboard()">
            <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:chart-square-bar'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Tạo trang dashboard</div>
        </div>
    </div>

</div>