<!-- <mat-tab-group>
    <mat-tab *ngFor="let tab of tabs" 
    [ngClass]="{active: tab.id === activeTabId}" 
    (click)="switchTab(tab.id)" 
    (keyup.enter)="switchTab(tab.id)" 
    tabindex="0" 
    role="tab">
      <ng-template mat-tab-label>
        {{tab.label}} 
        <span *ngIf="tab.id !== 'tab1'" 
        class="close" 
        (click)="removeTab(tab.id, $event)">
    x
  </span>
      </ng-template>
  
    </mat-tab> -->
  
    <!-- <mat-tab>
      <ng-template mat-tab-label>
        Second <mat-icon >close</mat-icon>
      </ng-template>
    
    </mat-tab> -->
  
    <!-- <mat-tab (click)="addTab()">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">add</mat-icon>
        
      </ng-template>
  
      
    </mat-tab>
  </mat-tab-group> -->
  <div>
    <button mat-raised-button
            class="example-add-tab-button"
            (click)="addTab(selectAfterAdding.checked)">
      Add new tab
    </button>
    <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox>
  </div>
  
  <mat-tab-group [selectedIndex]="selected.value"
                 (selectedIndexChange)="selected.setValue($event)">
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
      Contents for {{tab}} tab
    </mat-tab>

 <mat-tab disabled>
  <ng-template mat-tab-label>
      <button mat-icon-button (click)="addTab(selectAfterAdding.checked)">
          <mat-icon>add_circle</mat-icon>
      </button>
  </ng-template>
 </mat-tab>

  </mat-tab-group>
  
<!--   
  <div class="tabs">

    <ul class="tab-header">
      <li *ngFor="let tab of tabs" 
          [ngClass]="{active: tab.id === activeTabId}" 
          (click)="switchTab(tab.id)" 
          (keyup.enter)="switchTab(tab.id)" 
          tabindex="0" 
          role="tab">
        {{tab.label}}
        <span *ngIf="tab.id !== 'tab1'" 
              class="close" 
              (click)="removeTab(tab.id, $event)">
          x
        </span>
      </li>
    </ul>
    <ng-template #content></ng-template>
  </div> -->
