
<div>
    <div class="flex flex-row justify-between">
        <span  class="font-bold text-3xl">Danh sách Dashboard</span>
        <div>
        <button mat-flat-button class=" bg-emerald-800 text-white mr-30"
        *ngIf="!showSharedCheckbox" (click)="chooseDashboardToShare()"
    >
        <mat-icon>share</mat-icon>
        <span class="ml-2 mr-1">Chia sẻ</span>
    </button>
    <!-- <div class="flex flex-row justify-between"> -->
    <button mat-icon-button *ngIf="showSharedCheckbox" (click)="showSharedUserDialog();"
    matTooltip="Chia sẻ tới">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-icon-button *ngIf="showSharedCheckbox" (click)="cancelShare();"
    matTooltip="Hủy chia sẻ dữ liệu">
    <mat-icon>close</mat-icon>
  </button>
    </div>
    </div>
    <table class="w-full border-solid mt-5">
        <thead>
            <tr >
                <th></th>
                <th class="w-20 text-center">STT</th>
                <th class="w-1/2 text-center">Tên dashboard</th>
                <th class="w-1/10 text-center">Hiển thị</th>
                <th class="w-1/5"> </th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            <tr *ngFor="let dashboard of dashboards; let i = index" >
                <td>
                    <mat-checkbox [checked]="dashboard?.CHECKED" *ngIf="showSharedCheckbox" 
                    [disabled]="dashboard.SHAREABLE == false"
                    (change)="dashboard?.CHECKED == null ? dashboard.CHECKED = true : dashboard.CHECKED = !dashboard.CHECKED">
                  </mat-checkbox>
                </td>
                <td class="w-20 text-center"> {{i+1}}</td>
                <td class="w-2/5 text-center">
                    <div *ngIf="dashboard.isEdit">
                        <input  type="text" [(ngModel)] = "dashboard.NAME" class="rounded border-solid border-2 border-inherit">
                    </div>
                   <div *ngIf="!dashboard.isEdit">
                        {{dashboard.NAME}}
                     </div> 
                  </td>
                <td class="w-32 text-center">
                    <div >
                        <mat-checkbox class="example-margin" [disabled]="!dashboard.isEdit"
                        [(ngModel)]="dashboard.ENABLE" >
                        <!-- (change)="toggleEnable(dashboard)"> -->
                    </mat-checkbox>
                    </div>
                    <!-- <div *ngIf="!dashboard.isEdit">
                        <div *ngIf="dashboard.ENABLE">
                            <mat-icon>check_box</mat-icon>
                        </div>
                        <div *ngIf="!dashboard.ENABLE">
                            <mat-icon>check_box_outline_blank</mat-icon>
                        </div>
                    </div>
                    -->
                    <!-- <mat-checkbox class="example-margin"></mat-checkbox> -->
                </td>
                <td class="w-96 text-center">
                    <div class="flex flex-row">
                    <button matTooltip="Chi tiết dashboard" class="mr-8" (click)="onEditDashboard(dashboard.MA_DASHBOARD)">
                        <!-- <button class="mr-8" (click)="onEditDashboard(dashboardId)"> -->

                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <div *ngIf="dashboard.isEdit" class="flex flex-row px-2">
                        <button (click)="onSaveChange(dashboard)"> <mat-icon>check</mat-icon> </button>
                        <button (click)="cancel(dashboard)"> <mat-icon>close</mat-icon> </button>
                    </div>
                   
                        <button matTooltip="Sửa dashboard" *ngIf="!dashboard.isEdit" class="mr-8" >
                            <mat-icon svgIcon="mat_outline:edit" (click)= onEdit(dashboard)></mat-icon>
                        </button>
                    
                    <button matTooltip="Xóa dashboard">
                        <mat-icon svgIcon="mat_outline:delete" class="text-red-600" (click)="deleteDashboard(dashboard)"></mat-icon>
                    </button>
                </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<mat-dialog-actions class="flex flex-row justify-end">
    <button mat-raised-button (click)="closeDialog(null)" color="warn">
        Đóng
    </button>
</mat-dialog-actions>
