<div class="flex flex-col flex-auto overflow-y-auto lg:overflow-hidden bg-card dark:bg-default">

    <ng-container *ngIf="object; else selectObjectToRead">

        <!-- Header -->
        <div class="z-10 relative flex flex-col flex-0 w-full border-b">

            <!-- Toolbar -->
            <div class="flex items-center min-h-16 px-4 md:px-6 border-b bg-gray-50 dark:bg-transparent">

                <button mat-flat-button form="dialogForm" [color]="'primary'" *ngIf="actionSave"
                    (click)="onSaveObject()">
                    <mat-icon svgIcon="mat_outline:save"></mat-icon>
                    <span class="ml-2 mr-1">Ghi</span>
                </button>

                <button mat-flat-button [color]="'warn'" class="mx-1" *ngIf="actionDelete" (click)="onDeleteObject()">
                    <mat-icon svgIcon="mat_outline:delete"></mat-icon>
                    <span class="ml-2 mr-1">Xóa</span>
                </button>

                <button mat-flat-button [color]="'accent'" class="mx-1" *ngIf="actionEdit" (click)="onEditObject()">
                    <mat-icon svgIcon="mat_outline:edit"></mat-icon>
                    <span class="ml-2 mr-1">Sửa</span>
                </button>

                <button mat-flat-button [color]="'accent'" class="mx-1" *ngIf="actionCancel" (click)="onCancelObject()">
                    <mat-icon svgIcon="mat_outline:restore"></mat-icon>
                    <span class="ml-2 mr-1">Hủy bỏ</span>
                </button>
                <button mat-flat-button [color]="'primary'" class="mx-1" *ngIf="actionCheckConnect" (click)="onCheckConnectObject()">
                    <mat-icon svgIcon="mat_outline:check_circle"></mat-icon>
                    <span class="ml-2 mr-1">Kiểm tra</span>
                </button>
            </div>

            <!-- Subject and Labels -->
            <div class="flex flex-wrap items-center py-5 px-6" *ngIf="viewMode">
                <div class="flex flex-auto my-1 mr-4 text-2xl">
                    {{object.TEN_KETNOI}}</div>

            </div>
        </div>

        <!-- Threads -->
        <div class="flex flex-col flex-auto shrink-0 lg:shrink p-3 lg:overflow-y-auto" fuseScrollReset>
            <!-- Thread -->
            <div
                class="flex flex-col flex-0 w-full shadow rounded-2xl overflow-hidden bg-card dark:bg-black dark:bg-opacity-10">
                <div class="flex flex-col w-full border bg-gray-50 dark:bg-transparent py-5 px-6" *ngIf="viewMode">

                    <div>
                        <span class="leading-4 truncate">Địa chỉ IP: </span>
                        <span class="leading-4 truncate text-green-500">{{object.IP}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Cổng kết nối: </span>
                        <span class="leading-4 truncate text-green-500">{{object.PORT}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Tên CSDL: </span>
                        <span class="leading-4 truncate text-green-500">{{object.TEN_CSDL}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Tên đăng nhập: </span>
                        <span class="leading-4 truncate text-green-500">{{object.TEN_DANG_NHAP}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Mật khẩu: </span>
                        <span class="leading-4 truncate text-green-500">***********</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Tác giả: </span>
                        <span class="leading-4 truncate text-green-500">{{object.USER_CR_ID}} - {{object.USER_CR_DTIME |
                            date:'dd/MM/yyyy HH:mm:ss'}}</span>
                    </div>
                </div>
                <form id="dialogForm" class="flex flex-col flex-auto p-1 sm:p-1 overflow-y-auto"
                    [formGroup]="dialogForm" *ngIf="inputMode">
                    <div class="grid grid-cols-5 grid-flow-row gap-2 w-full border dark:bg-transparent py-5 px-2">
                        <mat-form-field class="col-span-4">
                            <mat-label>Tên kết nối</mat-label>
                            <input class="w-full" matInput [formControlName]="'TEN_KETNOI'" maxlength="250">
                        </mat-form-field>
                        <mat-form-field class="col-span-4">
                            <mat-label>Địa chỉ IP</mat-label>
                            <input class="w-full" matInput [formControlName]="'IP'" maxlength="50">
                        </mat-form-field>
                        <mat-form-field class="col-span-4">
                            <mat-label>Cổng kết nối</mat-label>
                            <input type="number" class="w-full" matInput [formControlName]="'PORT'" maxlength="50">
                        </mat-form-field>
                        <mat-form-field class="col-span-4">
                            <mat-label>Tên đăng nhập</mat-label>
                            <input class="w-full" type="text"
                            pattern="[a-zA-Z0-9_.]*" matInput [formControlName]="'TEN_DANG_NHAP'" maxlength="50">
                        </mat-form-field>
                        <mat-form-field class="col-span-4">
                            <mat-label>Mật khẩu</mat-label>
                            <input type="password" class="w-full" matInput [formControlName]="'MAT_KHAU'" maxlength="50">
                        </mat-form-field>
                        <mat-form-field class="col-span-4">
                            <mat-label>Tên CSDL</mat-label>
                            <input class="w-full" type="text"
                            pattern="[a-zA-Z0-9_]*" matInput [formControlName]="'TEN_CSDL'" maxlength="50">
                        </mat-form-field>

                    </div>
                </form>
            </div>

        </div>
    </ng-container>

    
    <ng-template #selectObjectToRead>

        <div class="flex flex-col flex-auto items-center justify-center bg-gray-100 dark:bg-transparent">
            <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:database'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Chọn nguồn dữ liệu để xem</div>
        </div>

    </ng-template>

</div>